.main {
  position: relative;
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
}

.example-page__header {
  width: 100%;
  padding: 17px 15px;
  background-color: #A1A1AA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
}

.example-page__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.example-page__item {
  width: 100%;
  max-width: 100px;
  height: 50px;
  background-color: #D4D4D8;
  border-radius: 8px;
}

.example-page__button {
  background-color: #84CC16;
  width: 100%;
  max-width: 150px;
  height: 50px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 2px rgba(0,0,0, .07);
}
