.burger {
  background: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4H22' stroke='%2371717A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 12H22' stroke='%2371717A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 20H22' stroke='%2371717A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center no-repeat;
  height: 24px;
  width: 26px;
  padding: 0;
  border: none;
  outline: none;
  transition: .3s;
}

.burger:active {
  transform: scale(1.1);
  opacity: .8;
}

@media(any-hover: hover) {
  .burger:hover {
    transform: scale(1.1);
    opacity: .8;
  }
}
